/Resources/GameSources/csvs/*


/Resources/GameSources/mods/*

!/Resources/GameSources/mods/

!/Resources/GameSources/mods/ArthrsShipsNShit/
!/Resources/GameSources/mods/starsector-core/
!/Resources/GameSources/mods/VayraMerged/
!/Resources/GameSources/mods/Wondrous-Weapons/
!/Resources/GameSources/mods/Survey Corps/
!/Resources/GameSources/mods/Strike Craft Expansion/
!/Resources/GameSources/mods/Ship and Weapon Pack/
!/Resources/GameSources/mods/random weapon collection/
!/Resources/GameSources/mods/Secrets of the Frontier 0.15.1/
!/Resources/GameSources/mods/Nes's SAW/

!/graphics/**

**/data/

# uncomment these after implementing them
# **/hullmods/
# ^ well hullmods wasnt the first thing thats on my list, but sotf uses a file under the hullmods for its
# icon and i rather implement the hullmods than just uploading them meaninglessly
**/weapons/

*mod_info.json


/pre-computer/node_modules


!/Resources/GameSources/mods/merger.ps1
!/Resources/GameSources/mods/create_meta.ps1
!/Resources/GameSources/mods/cleaner.ps1
!/Resources/GameSources/mods/creation_date.txt
!/Resources/GameSources/mods/merged_game_sources.json
!/Resources/GameSources/mods/meta.txt
/Resources/GameSources/zips
Resources/libs/SimpleBar/simplebar.js
