/Resources/GameSources/csvs/*


/Resources/GameSources/mods/*

!/Resources/GameSources/mods/

!/Resources/GameSources/mods/ArthrsShipsNShit/
!/Resources/GameSources/mods/starsector-core/
!/Resources/GameSources/mods/VayraMerged/

!/graphics/**

**/data/

# uncomment these after implementing them
**/hullmods/
**/weapons/

*mod_info.json


/pre-computer/node_modules


!/Resources/GameSources/mods/merger.ps1
!/Resources/GameSources/mods/create_meta.ps1
!/Resources/GameSources/mods/cleaner.ps1
!/Resources/GameSources/mods/creation_date.txt
!/Resources/GameSources/mods/merged_game_sources.json
!/Resources/GameSources/mods/meta.txt
